html {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
}

h1, h2 {
  font-family: 'Oswald', serif;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 10px;
}

.juliana {
  height: 15%;
  width: 15%;
  border-radius: 20px;
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

footer {
  text-align: center;
}